.container.main-container{
    background-color: salmon;
    margin: 0 auto;
    height: 700px;
    width: 70%;
    border-radius: 10px;
    padding:10px;
    max-width: 700px;
}
.container.inner{
    height: 100%;
    width: 49%;
    border-radius: 10px;
    background-color: snow;
}
.container.left{
    display: inline-block;
}

.container.right{
    float: right;
}
.container .header{
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: peachpuff;
    text-align: center;
    font-size: 20px;
}
.box{
    background-color: #fdccc6;
}
.element{
    height: 50px;
    width: 100%;
}

.box.element{
    margin-bottom: 10px;
}
.container-drop-zone.row{
    height: 90%;
}

.components-body{
    margin: 5%;
    text-align: center;   
    font-size: 18px;  
}
.component-item{
    padding: 15px 0;
}